
#light {
	width:50px;
	height:100px;
	background-color:gray;
	position:absolute;
	top:440px; left:100px;
}

#switch {
	width:40px;
	height:40px;
	background-color:black;
	position:absolute;
	top:490px; left:105px;
}


h1 {font-family:helvetica;
	font-size:20px;
	position:absolute;
	top:400px; left:110px;

}

h2 {font-family:helvetica;
	font-size:20px;
	position:absolute;
	top:530px; left:105px;

}



#body {
   width: 450px;  
   height: 300px;
   background-color:darkgray;
   position:absolute;
   top:350px; left:50px;
   
}

#up {width: 0; 
	height: 0; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid black;
	position:absolute;
	left:325px; top:400px;
}

#right {width: 0; 
	height: 0; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid black;
	position:absolute;
	left:430px; top:510px;
    transform-origin: 50% 0;
 	transform: rotate(90deg);
}

#left {width: 0; 
	height: 0; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid black;
	position:absolute;
	left:220px; top:510px;
    transform-origin: 50% 0;
 	transform: rotate(270deg);
}



#down {width: 0; 
	height: 0; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid black;
	position:absolute;
	left:325px; top:620px;
	transform-origin: 50% 0;
 	transform: rotate(180deg);

 }

#hbody	{
	 width: 200px;  
  	 height: 140px;
  	 background-color:red;
  	 border-radius: 50%;
  	 position:absolute;
  	 top:200px; left:650px;
}

#tail {width: 60; 
	height: 100; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 150px solid red;
	position:absolute;
	left:950px; top:200px;
    transform-origin: 10% 0;
 	transform: rotate(75deg);
}

#back {width:20px;
	height:90px;
	background-color:red;
	position:absolute;
	top:200px; left:950px;
	}


#bottom1 {
	width:20px;
	height:50px;
	background-color:black;
	position:absolute;
	left:800px;
	top:320px;
}

#bottom2 {
	width:20px;
	height:50px;
	background-color:black;
	position:absolute;
	left:710px;
	top:320px;
}

#bottom3 {
		width:130px;
		height:20px;
		background-color:black;
		position:absolute;
		left:700px; top:360px;
}








