
#tire1 {
   width: 60px;  
   height: 60px;
   background-color:black;
   border-radius: 50%;
   position:absolute;
   top:200; left:200;
}



#tire2 {
   width: 60px;  
   height: 60px;
   background-color:black;
   border-radius: 50%;
   position:absolute;
   top:200; left:250;
}